<aside>
  <ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}&t={{encode title}}" title="Jaa Facebookissa" target="_blank"><img alt="Share on Facebook" src="{{asset "images/social_flat_rounded_rects_facebook.svg"}}" /></a></li>
    <li><a href="https://twitter.com/intent/tweet?{{url absolute="true"}}&text={{encode title}}:%20{{@blog.url}}" target="_blank" title="Tweet"><img alt="Tweettaa" src="{{asset "images/social_flat_rounded_rects_twitter.svg"}}" /></a></li>
  </ul>
</aside>
